  <!-- CLIENT PROFILE -->
<% if current_user.role == "client" %>

  <div class="container-fluid" id="profile">
    <div class="salon-header"> <h2 id="salon-form-head">Edit Your Details</h2> </div>
    <p id = "image"><%= image_tag current_user.avatar, :class => 'avatar'%></p>
    <h1 class = "profile"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
    <p class = "mx-auto mt-0">Joined: <%= current_user.created_at.strftime("%B") %> <%= current_user.created_at.strftime("%Y") %> </p>
          <p>
            <%= form_for current_user do |f| %>
            <h5>I own a salon / want to list my hair services:</h5>   
            <%= f.label :role, 'Yes', :value => 'owner' %>
            <%= f.radio_button :role, 'owner' %> 
            <%= f.label :role, 'No', :value => 'client' %>
            <%= f.radio_button :role, 'client' %> 
          </p>
          <p>
            <%= f.submit "Update", class: "btn btn-large btn-dark" %>
          </p>
      <% end %>
  </div>

<% else %>

<!-- OWNER PROFILE -->
  <div class="container-fluid" id="new-salon">
    <div class="profile-header"><h2 id="profile-form-head">My Profile</h2></div>
      <p id = "image"><%= image_tag current_user.avatar, :class => 'avatar'%></p>
      <h1 class = "profile"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
      <p class = "mx-auto mt-0">Joined: <%= current_user.created_at.strftime("%B") %> <%= current_user.created_at.strftime("%Y") %> </p>
    <div class="profile-header"><h2 id="profile-form-head">My Salons</h2></div> <br>
      <div id="listed"><h4> You have listed the following salons: </h4><br>
        <ul>
          <% @salons.each do |salon| %>
            <li id='salon-list'> 
              <div class='row'>
                <div class='col'> <h4><%= salon.business_name %></h4></div> 
                <div class='col'><%= button_to "View", salon_path(salon), method: :get, :id => "view" %><br>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% end %>

