  <div class="container-fluid" id="about">
    
      <div class="row"
    <div class="salon-header"> <h2 id="salon-form-head">About Moriri</h2> </div>
    <div class="row justify-content-md-center">
      <div class="col">
        <%= image_tag("about.png", id:"img-about") %>
      </div>
      <div class="col">
        <p id="about">
          “Thothokiso ya mosadi ke moriri .”
          <br>
          (A woman’s hair is her poetry.)
          <br>
                        -Sesotho saying
          <br>
          <br> 
          Hello! My name is Sonia Makhetha, a proud South African and creator of <%= link_to "www.mymoriri.com", "/", id:'about' %>
          <br>
          <br>
          After having lived as an expat for over 7 years in 3 different countries, I know what a struggle it can be to find someone to do your hair.
          So when I attended a coding bootcamp at Next Academy in Kuala Lumpur in 2018 and had to submit a final project, I came up with the idea of creating a global ethnic hair directory for women of colour living abroad.
          A directory where WOC can list their at-home or commercial salon services  and where other WOC can find and enlist them, myself included.
          <br>
          <br>
          The name ‘Moriri’ comes from my mother tongue of Sesotho and it means hair and this website is all about ethnic hair. 
          <br>
          <br>
          <%= link_to "www.mymoriri.com", "/", id:'about' %> - Get your hair done all around the world. 
          <br>
          <br>
        </p>
      </div>
    </div>
  <div class="row justify-content-md-center">
      <p> Got any questions or comments? <br>
        Please connect with us on our social media pages:<br>
        <%= link_to(image_tag("instagram.png"), "https://www.facebook.com/Moriri-253254908872303/") %>
        <%= link_to(image_tag("facebook.png"), "https://www.instagram.com/moriri_app/") %>
    </p>
    </div>
  </div>
</div> 


