<div class="container-fluid align-items-center" id="about">
  <h2 id="about-form-head"> About Moriri </h2>
    <div class="row">
      <div class="col-md col-sm col-xs">
        <%= image_tag("about.png", id:"img-about", class:"img-fluid") %>
      </div>
      <div class="col-md col-sm col-xs">
        <p id="about">
          <strong>moriri</strong>  [mo-ri-ri]
          <br>
          (noun) 
          <br>: hair (Sesotho)
          <br>
          <br>
          Greetings! My name is Sonia Makhetha, a proud South African and the creator of 
          <%= link_to "www.mymoriri.com", "/", id:'about' %>. 
          <br>
          <br>
          Having lived abroad as an expat in three different countries, I wanted to find an easier way for black women, like myself, to find ethnic hair stylists wherever in the world they may be; couple that with some skills I picked up at a coding bootcamp in Malaysia and <%= link_to "www.mymoriri.com", "/", id:'about' %> was born.
          <br>
          <br>
          <%= link_to "www.mymoriri.com", "/", id:'about' %> - Get your hair done around the world!
          <br>
          <br> 
        </p>
      </div>
    </div>
    <div class="row">
      <div class='col -md col-sm col-xs'>
        <p> 
          Got any questions or comments? <br>
          Please connect with us on our social media pages:<br>
          <%= link_to(image_tag("instagram.png"), "https://www.facebook.com/Moriri-253254908872303/") %>
          <%= link_to(image_tag("facebook.png"), "https://www.instagram.com/moriri_app/") %>
        </p>
      </div>
</div> 


