<div class="row" id="sal-row">
    <% @salons.each do |salon| %>
      <div class="col-lg-3">  
        <div class="d-flex align-items-center align-content-stretch flex-wrap">
          <div class="card mt-2 text-center">
            <div class="card-header"><%= link_to salon.business_name ,salon_path(salon) %></div>
               <div class="card-body">
                <p class="card-text"><%= label_tag :location, 'City / Town:' %> <%= salon.location %></p>
                <p class="card-text"><%= label_tag :area, 'Area:' %> <%= salon.suburb %> </p>
                <p class="card-text"><%= label_tag :speciality, 'Speciality:' %><br><%= salon.speciality * "," %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>