<!-- INDEX PAGE -->
<div class="container-fluid align-items-center mx-auto" id="index">
  <div class="container-fluid mb-2" id="search_row">
    <div class="search mt-4">
      <%= form_tag salons_search_path, id: "search-form", method: :post, remote: true do %>
       <%= text_field_tag :country, params[:country], placeholder: ' Country', class:"search_field" %> 
       <%= text_field_tag :location, params[:location], placeholder: ' City', class:"search_field" %> 
       <%= submit_tag "Search", name: nil, class:"btn" %>
      <% end %>
    </div>
  </div>
  <!-- SEARCH RESULTS -->
  <div class="container-fluid" id ="search_list" >
    <%= render partial: '/salons/display', object: @salons %>
  </div>
<div class= "page mt-4"><%= paginate @salons %></div>

</div>

