<!DOCTYPE html>
<html>
  <head>
    <title>Hair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-md">
  <a href="#" class="col-xs-4 navbar-brand"><%= link_to(image_tag("logo_avatar.png", class:"brands", id: "logo", title: "Home"), root_path) %></a>
    <ul class=" col-xs-4 navbar-nav mx-auto" id="wordmark_ul">
      <li class="nav-item"><a href="#" class="nav-link"><%= image_tag("wordmark.png", id:"img-wordmark") %></a></li>
    </ul>
    <!-- DROPDOWN -->
   
    <div class="btn-group dropleft">
    <button type="button" class="btn btn-secondary dropdown-toggle"  id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span class="navbar-toggler-icon">
          <% if current_user %>
            <%= image_tag(current_user.avatar, class: "img-nav", id: "avatar", title: "Menu") %>         
          <% else %> 
            <%= image_tag("welcome.png", class: "img-nav", id: "welcome", title: "Menu") %>
          <% end %>
        </span>

    </button>
    <div class="dropdown-menu">
      <% if current_user %>
        <span style="color: #FBF5F5"><%= link_to "My Profile", '/profile', class:"dropdown-item" %></span>
        <span style="color: #FBF5F5"><%= link_to "Find Salon", '/salons', class:"dropdown-item" %></span>
            <span style="color: #FBF5F5"><%= link_to "Log Out", '/logout', class:"dropdown-item" %></span>  
          <% else %>
            <span style="color: #FBF5F5"><%= link_to "Find Salon", '/salons', class:"dropdown-item" %></span>
            <span style="color: #FBF5F5"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class:"dropdown-item" %></span>
            <span style="color: #FBF5F5"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class:"dropdown-item" %></span>
          <% end %>
    </div>
  </div>
  <div></div>
</nav>

<!-- FLASH MESSAGES -->
    <%= render partial: '/shared/flash', object: @salons %>

    <%= yield %>

<div class="footer">
  <p id="foot"> ©Moriri 2018</p>
</div>



  </body>
</html>
